body {
    margin: 0;
    background-image: url(bg-jace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

ul{
    text-align: justify;
}

.audio-control {
    position: absolute;
    top: 90vh;
    left: 10px;
    width: 55px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Pointer cursor on hover */
    z-index: 1; /* Ensure it's above other elements */
}

.tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.tab-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    z-index: 3;
}

.tab:hover, .tab.active .tab-content {
    background-color: rgba(0, 0, 0, 0.7);
}

.tab.active .tab-content {
    display: block;
    height: 200px;
}

.image-container {
    position: absolute;
    left: 10px;
    top: 100px; /* Adjust this value to position the image-container properly */
    width: 280px; /* Adjust the width as needed */
    height: 430px; /* Adjust the height as needed */
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}


.center-container {
    position: absolute;
    top: 270px;
    left: 1000px;
    transform: translate(-50%, -50%);
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows of equal height */
    gap: 5px; /* Space between images */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    z-index: 1;
    width: 300px; /* Set a fixed width to ensure it is square */
    height: 300px; /* Set a fixed height to ensure it is square */
    box-sizing: border-box; /* Ensure padding is included in width/height */
}

.center-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area of each grid cell */
    z-index: 2;
}

/* Add CSS for the redirect button */
.redirect-button {
    position: absolute;
    top: 530px; /* Adjust to position the button properly */
    right: 10px;  /* Adjust to position the button properly */
    display: block;
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* Ensure it's above other elements */
}

.redirect-button img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
    z-index: 1;
}

#wipe-effect {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 25, 26);
    z-index: 10;
    animation: wipeAnimation 1s forwards;
}

@keyframes wipeAnimation {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}

#wipe-effect2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 25, 26);
    z-index: 9999;
    animation: wipeAnimation2 1s forwards;
}

@keyframes wipeAnimation2 {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}